{% extends 'albania/navbar.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'citi_detail.css' %}">
    <dl>
        <h1 style="background-color:DodgerBlue;">Name</h1>
        <dd >{{ cities.name }}</dd>
        <dt>Description</dt>
        <dd>{{ cities.description }}</dd>
        <dt>Population</dt>
        <dd>{{ cities.population }}</dd>
        <dt>Location</dt>
        <dd>{{ cities.location }}</dd>
        <dt>Image</dt>
        <dd><img src="{{ cities.image.url }}" alt="{{ cities.image.url }}"></dd>
    </dl>
{% endblock  %}